.container
	.row
		.span12
			%h1 Welcome to Capture
	.target-nav
		.row
			.span2.offset3
				%a.upper-left{:href => "#"} 
					%i.icon-camera-retro
			.span2
				%a.upper-right{:href => "#"}
					%i.icon-pencil
		%p
		.row
			.span2.offset3
				%a.lower-left{:href => "#"} 
					%i.icon-user
			.span2
				%a.lower-right{:href => "#"} 
					%i.icon-bullhorn