.container
	.row
		.span12
			%h1 Welcome to Capture
	.row
		.span9.offset3
			%ul.inline-block-list
				%li
					%a.top-left{:href => new_picture_path} 
						%i.icon-camera-retro
				%li
					%a.top-right{:href => "#"} 
						%i.icon-pencil
	.row
		.span9.offset3
			%ul.inline-block-list
				%li
					%a.bottom-left{:href => "#"} 
						%i.icon-user
				%li
					%a.bottom-right{:href => "#"} 
						%i.icon-bullhorn


