// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.inline-block-list {
	@include inline-block-list;
	$size: 150px;
	$font-size: 60px;
	font-size: $font-size;
	li {
		a {
			display: block;
		 	@include box-sizing(border-box);
			// cursor:crosshair;
			@include transition(background .15s ease-in-out, color .15s ease-in-out);
			width: $size;
			height: $size;
			text-align: center;
			color: #333;
			margin-right: -17px;
			&:hover {
				text-decoration: none;
				color: #fff;
				background: #333;
			}
			border: 1px solid black;
			&.top-left {
				@include border-top-left-radius($size);
				padding-top: $font-size + 15;
				padding-left: 15px;
			}
			&.top-right {
				@include border-top-right-radius($size);
				padding-top: $font-size + 15;
				padding-right: 15px;
			}
			&.bottom-left {
				@include border-bottom-left-radius($size);
				padding-top: $font-size - 15;
				padding-left: 15px;
			}
			&.bottom-right {
				@include border-bottom-right-radius($size);
				padding-top: $font-size - 15;
				padding-right: 15px;
			}
		}
	}
}

#list {
	position: fixed;
	background: #333;
	color: #fff;
	font-size: 25px;
	left: -18px;
	top: 50%;
	@include rotate(90deg);
	@include border-top-right-radius(5px);
	@include border-top-left-radius(5px);
	a {
		@include border-top-right-radius(5px);
		@include border-top-left-radius(5px);
		color: #fff;
		display: block;
		@include transition(background .15s ease-in-out, color .15s ease-in-out);
		padding: 8px 15px;
		&:hover {
			text-decoration: none;
		}
	}
}

#slideout {
	position:fixed;
	width:280px;
	top:40%;
	left:-282px;
	//left: 0px;
	a {
		color: #fff;
		display: block;
		&:hover {
			text-decoration: none;
		}
	}
	table {
    padding: 5px;
		width: 100%;
		border-spacing: 5;
    border-collapse: collapse; /* 'cellspacing' equivalent */
		th {
    	border-bottom: 2px solid #fff;
    }
    td {
			@include background-image(linear-gradient(top, #333, lighten(#333,3%)));
    }
		td, th {
			text-align: center;
    	padding: 7px; /* 'cellpadding' equivalent */
		}
	}
}

#clickme {
	cursor: pointer;
	position:absolute;
	right: -69px;
	top: 40%;
	float:right;
  height:20px;
  width:80px;
	background: #333;
	color: #fff;
	font-size: 28px;
	@include rotate(90deg);
	@include border-top-right-radius(8px);
	@include border-top-left-radius(8px);
	@include box-shadow(#333 5px 5px 10px);
	padding: 8px 8px;
	text-align: center;
	border: {
		width: 2px 2px 0px 2px;
		color: lighten(#333, 20%);
		style: solid;
	}
	#counter {
		font-size: 18px;
		background: red;
		@include border-radius(15px);
		@include rotate(-90deg);
		@include box-shadow(#333 -1px 1px 5px);
		@include background-image(linear-gradient(left top, lighten(red,30%), red));
		position: absolute;
		top: -15px;
		left: -15px;
		min-width: 17px;
		border: 2px solid #fff;
		padding: 3px;

	}
}

#slidecontent {
  float:left;
	background: #333;
	color: #fff;
	font-size: 16px;
	@include border-bottom-right-radius(8px);
	@include border-top-right-radius(8px);
	@include box-shadow(#333 -5px 5px 10px);
	border: {
		width: 2px 2px 2px 0px;
		color: lighten(#333, 20%);
		style: solid;
	}
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
}
